@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .tab-active {
    color: #9747FF !important;
    /* Use !important to ensure it overrides other styles */
  }
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("/public/images/kuripot-background-bigger.png");
  background-size: auto;
  /* Ensure the background is displayed at its original size */
  background-position: center center;
  background-attachment: fixed;
  /* Keeps the background fixed while content scrolls */
  height: auto;
  /* Allow content to define height instead of fixing it to 100vh */
  color: white;
}

.carousel-container::-webkit-scrollbar {
  display: none;
  /* Hides the scrollbar for WebKit browsers */
}

.carousel-container {
  -ms-overflow-style: none;
  /* Hides scrollbar for IE/Edge */
  scrollbar-width: none;
  /* Hides scrollbar for Firefox */
}

.taskbar-mobile {
  z-index: 1000;
  /* makes sure the taskbar stays on top*/
}

.page-with-navhead {
  padding-top: 4rem;
}

/* take into account size of taskbar to avoid taskbar from hiding any content*/
.page-with-taskbar {
  padding-bottom: 6rem;
}

/* sidebar */
.sidebar {
  transform: translateX(100%);
}

.sidebar.open {
  transform: translateX(0);
  z-index: 1001;
  /*lets sidebar hamburg icon popup overlap the taskbar mobile*/
}

.tab-active {
  border-bottom: 2px solid #9747FF !important;
  /* Replace with your preferred color */
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}