@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('/public/images/kuripot-background-bigger.png');
  background-size: auto;
  /* Ensure the background is displayed at its original size */
  background-position: center center;
  background-attachment: fixed;
  /* Keeps the background fixed while content scrolls */
  height: auto;
  /* Allow content to define height instead of fixing it to 100vh */
}


.carousel-container::-webkit-scrollbar {
  display: none;
  /* Hides the scrollbar for WebKit browsers */
}

.carousel-container {
  -ms-overflow-style: none;
  /* Hides scrollbar for IE/Edge */
  scrollbar-width: none;
  /* Hides scrollbar for Firefox */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}